body {
  margin: 0px;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 50vh;
  width: 100%;
  height: fit-content;
  z-index: -1;
}

.circle-top,
.circle-middle,
.circle-bottom {
  position: relative;
  left: 50vw;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
}

.circle-top {
  background-color: purple;
  transform: translate(-50%, -50%);
}

.circle-middle {
  background-color: lightseagreen;
  transform: translate(-50%, 0%);
}

.circle-bottom {
  background-color: lightcoral;
  transform: translate(-50%, 50%);
}

.border-1,
.border-2 {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
}

.border-1 {
  border: 40px solid gray;
}

.border-2 {
  border: 20px solid red;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  margin: 0px;
  font-size: 30px;
  font-family: "Lucida Sans";
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: 800;
}
